footer {
    background: var(--footer-bg);
    padding: 60px 80px;
    background-image: url(../../assets/imgs/footer-decor.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: start;
    gap: 80px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footeritems {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    max-width: 270px;
}

.footeritems p {
    color: white;
    font-family: "IBM Plex Sans";
    font-weight: 400;
}

.footeritems-row {
    display: flex;
    gap: 30px;
}

.gap-12 {
    gap: 12px;
}