footer {
    background: var(--footer-bg);
    padding: 60px 80px;
    background-image: url(../../assets/imgs/footer-decor.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: start;
    gap: 80px;
}