header {
    display: flex;
    justify-content: space-between;
    background: var(--header-bg);
    width: 100%;
    padding: 22px 80px;
}

.logo-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    background-image: url('../../assets/icons/logo-dark.svg');
    width: 43px;
    height: 36px;
}

.line {
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
}

header h3 {
    color: var(--main-color);
    font-family: 'costaline-regular';
    font-weight: 400;
}