header {
    display: flex;
    justify-content: space-between;
    background: var(--header-bg);
    width: 100%;
    padding: 22px 80px;
}

.logo-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    background-image: var(--header-logo);
    background-repeat: no-repeat;
    width: 43px;
    height: 36px;
}

.line {
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
}

header nav {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

header h3 {
    color: var(--main-color);
    font-family: 'costaline-regular';
    font-weight: 400;
}

.burgermenu {
    background-image: var(--burgermenu);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 390px) {
    header {
        padding: 20px 32px;
    }
    header nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 20px 32px;
    }
    header nav {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    header {
        padding: 22px 80px;
    }
    header nav {
        display: flex;
    }
}