.hero {
    background-image: url(../../assets/imgs/hero-bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-div {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 700px;
    max-height: fit-content;
    position: relative;
    right: 0;
    background: linear-gradient(180deg, #F5CA7B 0%, #8F7648 100%);
}

.hero-div h1 {
    font-family: "costaline-medium";
    font-weight: 500;
    color: var(--main-darkcolor);
    text-transform: uppercase;
}

.hero-div h3 {
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-weight: 400;
    color: var(--main-darkcolor);
}