.hero {
    background-image: url(../../assets/imgs/hero-bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-div {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 700px;
    max-height: fit-content;
    background: linear-gradient(180deg, #F5CA7B 0%, #8F7648 100%);
}

.hero-div h1 {
    font-family: "costaline-medium";
    font-weight: 500;
    color: var(--main-darkcolor);
    text-transform: uppercase;
}

.hero-div h3 {
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-weight: 400;
    color: var(--main-darkcolor);
}


@media screen and (min-width: 390px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        padding: 60px;
    }
    .hero-div {
        padding: 30px 40px;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        padding: 60px;
    }
    .hero-div {
        padding: 30px 40px;
        max-width: 100%;
    }
}

@media screen and (min-width:1200px) {
    .hero {
        flex-direction: row;
        padding: 60px 0px 60px 80px;
        justify-content: space-between;
    }
    .hero-div {
        padding: 60px 80px;
        max-width: 700px;
    }
}