:root {
    --header-bg: linear-gradient(124deg, #1F1E1A 8.92%, #30291F 40.19%, #392F21 55.82%, #3D3122 63.64%, #413423 71.46%);
    --main-color: white;
    --main-lightcolor: #FAE2B8;
    --main-darkcolor: #1F1E1A;
    --card-bg: rgba(0, 0, 0, 0.10);
    --header-logo: url('../assets/icons/logo-dark.svg');
    --mode-icon: url('../assets/icons/sun-icon.svg');
    --body-bg: linear-gradient(180deg, #30291F 0%, #332C21 13.94%, #362E23 27.4%, #3D3427 37.98%, #564A38 50%, #4A3F2F 62.02%, #362E23 76.19%, #332C21 88.46%, #30291F 100%);
    --footer-bg: linear-gradient(124deg, #1F1E1A 8.92%, #30291F 40.19%, #392F21 55.82%, #3D3122 63.64%, #413423 71.46%);
    --footer-decor: url(../assets/icons/footertitle-decor-dark.svg);
}

body {
    background: var(--body-bg);
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.secCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding: 0px 100px 0px 100px;
}

.cards-row {
    display: flex;
    gap: 32px;
    width: 100%;
}

/* text styles */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

@font-face {
    font-family: 'costaline-regular';
    src: url('../assets/fonts/Costaline-Regular.otf');
}

@font-face {
    font-family: 'costaline-medium';
    src: url('../assets/fonts/Costaline-Medium.otf');
}

/* text styles */
