body {
    background: var(--body-bg);
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

article {
    padding: 8px 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
}

.secCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding: 0px 100px 0px 100px;
}

.cards-row {
    display: flex;
    gap: 32px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.footer-diamond {
    background-image: var(--footer-decor);
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
}

.cards-col {
    display: flex;
    flex-direction: column;
    gap: 46px;
    height: 100%;
}

.sec2-decor {
    object-fit: contain;
}

.display-none {
    display: none;
}

/* text styles */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

@font-face {
    font-family: 'costaline-regular';
    src: url('../assets/fonts/Costaline-Regular.otf');
}

@font-face {
    font-family: 'costaline-medium';
    src: url('../assets/fonts/Costaline-Medium.otf');
}

/* text styles */


@media screen and (min-width: 390px) {
    article {
        padding: 8px 32px;
    }
    .display-none {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width:1200px) {
    article {
        padding: 8px 80px;
    }
    .display-none {
        display: none;
    }
}