.footertitle-decor {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.footertitle {
    color: var(--main-color);
    font-family: "costaline-medium";
    font-weight: 500;
}

.decor-line {
    height: 1px;
    flex: 1 0 0;
    background-color: var(--main-lightcolor);
}

.footer-diamond {
    background-image: var(--footer-decor);
    width: 4px;
    height: 4px;
}