.sectitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    max-width: 530px;
}

.sectitle h1 {
    color: var(--main-lightcolor);
    font-family: "costaline-medium";
    letter-spacing: 12.24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.sectitle p {
    text-align: center;
    color: white;
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-weight: 400;
}